torch
torchaudio
numpy==1.26.4
soundfile
librosa
pyrubberband
requests
transformers>=4.48.0
yt-dlp[default]
accelerate
huggingface_hub
pillow
torchcodec
litserve==0.2.3
fastapi
pydantic
boto3
uvicorn
python-multipart
PyJWT
passlib[bcrypt]
bcrypt==3.2.0
python-dotenv